@import url(variables.css);

:root {
  --black: #000;
  --light-yellow: #f1ff29;
  --middle-yellow: #b6a80f;
  --dark-yellow: #595f08;
  --light-purple: #d671f8;
  --dark-purple: #7b26dc;
  --middle-purple: #9671c0;
  --gray: #252c30;

  /* Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.yel {
  --primary: var(--light-yellow);
  --secondary: var(--dark-yellow);
  --text:var(--middle-yellow)
}

.purp {
  --primary: var(--light-purple);
  --secondary: var(--dark-purple);
  --text:var(--middle-purple);
}

.title {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
.btn,
.btnvg,
.btnelec,
.btnfig,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover,
.btnvg:hover,
.btnelec:hover,
.btnfig:hover, {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}
.items{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color:cadetblue;
}
.main{
  text-align: center;
  
}

.text{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1.5rem 4rem;
  margin: 1rem auto;
  font-size: 1rem;
  border: none;
  transition: all 0.2s;
  background-color:var(--text);
  
}
.text:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.img{ 
height: 237px;
width: 420px;
object-fit: contain;
}
